<!-- movie-details.component.html -->
<div class="details">
  <div class="details-header">
    <h2>{{ movie.title }}</h2>
  </div>
  <mat-grid-list cols="4" rowHeight="4:2">
    <mat-grid-tile rowspan="3" colspan="1">
      <img
        [src]="movie.imageUrl"
        alt="{{ movie.title }} Poster"
        class="details-image"
        (error)="handleImageError($event)"
      />
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2">
      <p class="details-content">{{ movie.description }}</p>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3" colspan="1">
      <div class="details-btns">
        <button
          class="btnAddToWatchlist"
          (click)="addToWatchlist(movie.title)"
          *ngIf="!isInWatchlist(movie.title)"
          title="Add To My Watchlist"
        >
          Add to My Watchlist
        </button>
        <p class="onMyWatchlist" *ngIf="isInWatchlist(movie.title)">
          On My Watchlist
        </p>
        <button
          class="btnRemoveFromWatchlist"
          (click)="removeFromWatchlist(movie.title)"
          *ngIf="isInWatchlist(movie.title)"
          title="Remove From My Watchlist"
        >
          -
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="2">
      <i>
        <svg
          width="64px"
          height="64px"
          viewBox="-14.4 -14.4 52.80 52.80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#f1f514"
          transform="rotate(0)"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#CCCCCC"
            stroke-width="0.048"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M11.245 4.174C11.4765 3.50808 11.5922 3.17513 11.7634 3.08285C11.9115 3.00298 12.0898 3.00298 12.238 3.08285C12.4091 3.17513 12.5248 3.50808 12.7563 4.174L14.2866 8.57639C14.3525 8.76592 14.3854 8.86068 14.4448 8.93125C14.4972 8.99359 14.5641 9.04218 14.6396 9.07278C14.725 9.10743 14.8253 9.10947 15.0259 9.11356L19.6857 9.20852C20.3906 9.22288 20.743 9.23007 20.8837 9.36432C21.0054 9.48051 21.0605 9.65014 21.0303 9.81569C20.9955 10.007 20.7146 10.2199 20.1528 10.6459L16.4387 13.4616C16.2788 13.5829 16.1989 13.6435 16.1501 13.7217C16.107 13.7909 16.0815 13.8695 16.0757 13.9507C16.0692 14.0427 16.0982 14.1387 16.1563 14.3308L17.506 18.7919C17.7101 19.4667 17.8122 19.8041 17.728 19.9793C17.6551 20.131 17.5108 20.2358 17.344 20.2583C17.1513 20.2842 16.862 20.0829 16.2833 19.6802L12.4576 17.0181C12.2929 16.9035 12.2106 16.8462 12.1211 16.8239C12.042 16.8043 11.9593 16.8043 11.8803 16.8239C11.7908 16.8462 11.7084 16.9035 11.5437 17.0181L7.71805 19.6802C7.13937 20.0829 6.85003 20.2842 6.65733 20.2583C6.49056 20.2358 6.34626 20.131 6.27337 19.9793C6.18915 19.8041 6.29123 19.4667 6.49538 18.7919L7.84503 14.3308C7.90313 14.1387 7.93218 14.0427 7.92564 13.9507C7.91986 13.8695 7.89432 13.7909 7.85123 13.7217C7.80246 13.6435 7.72251 13.5829 7.56262 13.4616L3.84858 10.6459C3.28678 10.2199 3.00588 10.007 2.97101 9.81569C2.94082 9.65014 2.99594 9.48051 3.11767 9.36432C3.25831 9.23007 3.61074 9.22289 4.31559 9.20852L8.9754 9.11356C9.176 9.10947 9.27631 9.10743 9.36177 9.07278C9.43726 9.04218 9.50414 8.99359 9.55657 8.93125C9.61593 8.86068 9.64887 8.76592 9.71475 8.57639L11.245 4.174Z"
              stroke="#e5e817"
              stroke-width="2.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
      </i>
      <p>Rating: <br />{{ movie.rating }}</p>
      <i>
        <svg
          width="64px"
          height="64px"
          viewBox="-14.4 -14.4 52.80 52.80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#000000"
          stroke-width="0.8640000000000001"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12ZM3.00683 12C3.00683 16.9668 7.03321 20.9932 12 20.9932C16.9668 20.9932 20.9932 16.9668 20.9932 12C20.9932 7.03321 16.9668 3.00683 12 3.00683C7.03321 3.00683 3.00683 7.03321 3.00683 12Z"
              fill="#0F0F0F"
            ></path>
            <path
              d="M12 5C11.4477 5 11 5.44771 11 6V12.4667C11 12.4667 11 12.7274 11.1267 12.9235C11.2115 13.0898 11.3437 13.2343 11.5174 13.3346L16.1372 16.0019C16.6155 16.278 17.2271 16.1141 17.5032 15.6358C17.7793 15.1575 17.6155 14.5459 17.1372 14.2698L13 11.8812V6C13 5.44772 12.5523 5 12 5Z"
              fill="#0F0F0F"
            ></path>
          </g>
        </svg>
      </i>
      <p>Duration: <br />{{ movie.duration }}</p>
      <i>
        <svg
          width="64px"
          height="64px"
          viewBox="-28.8 -28.8 105.60 105.60"
          xmlns="http://www.w3.org/2000/svg"
          fill="#27ac02"
          stroke="#27ac02"
          stroke-width="0.00048000000000000007"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <title>category-solid</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="invisible_box" data-name="invisible box">
                <rect width="48" height="48" fill="none"></rect>
              </g>
              <g id="icons_Q2" data-name="icons Q2">
                <path
                  d="M24,2a2.1,2.1,0,0,0-1.7,1L13.2,17a2.3,2.3,0,0,0,0,2,1.9,1.9,0,0,0,1.7,1H33a2.1,2.1,0,0,0,1.7-1,1.8,1.8,0,0,0,0-2l-9-14A1.9,1.9,0,0,0,24,2Z"
                ></path>
                <path
                  d="M43,43H29a2,2,0,0,1-2-2V27a2,2,0,0,1,2-2H43a2,2,0,0,1,2,2V41A2,2,0,0,1,43,43Z"
                ></path>
                <path d="M13,24A10,10,0,1,0,23,34,10,10,0,0,0,13,24Z"></path>
              </g>
            </g>
          </g>
        </svg>
      </i>
      <p>Genre: <br />{{ movie.genre.join(", ") }}</p>
      <i>
        <svg
          fill="#cf0707"
          width="64px"
          height="64px"
          viewBox="-14.4 -14.4 52.80 52.80"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#cf0707"
          stroke-width="0.00024000000000000003"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M6,22H18a3,3,0,0,0,3-3V7a2,2,0,0,0-2-2H17V3a1,1,0,0,0-2,0V5H9V3A1,1,0,0,0,7,3V5H5A2,2,0,0,0,3,7V19A3,3,0,0,0,6,22ZM5,12.5a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5V19a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1Z"
            ></path>
          </g>
        </svg>
      </i>
      <p>Released Date: <br />{{ movie.releasedDate }}</p>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="details-trailer">
    <iframe
      width="640"
      height="360"
      [src]="getSafeTrailerLink()"
      title="YouTube video player"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
