/* movie-details.component.scss */
:host {
  display: block;
  margin-top: 70px;
  padding: 20px;
}

.details-header {
  display: flex;
  align-items: center;
  color: orange;
  font-size: large;
  margin: 1px;
}

.details-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  border: 4px solid orange;
}

.details-content {
  position:absolute;
  top: 15%;
  font-size: large;
  width: 90%;
}

.details-btns {
  position:absolute;
  top: 0;
  text-align: center;
  font-size: large;
  width: 90%;
}

.details-trailer{
  text-align: center;
  padding-top: 30px;
}

.btnAddToWatchlist {
  background-color: rgb(217, 39, 8);
  color: whitesmoke;
  border: 2px solid rgb(170, 30, 5);
  border-radius: 5px;
  font-size: x-large;
  padding: 3px 10px 3px 5px;
}

.btnAddToWatchlist:hover {
  background-color: rgb(8, 227, 0);;
  color: #ecf0f1;
  border: 2px solid rgb(16, 132, 12);
  border-radius: 5px;
}

.btnRemoveFromWatchlist {
  color: whitesmoke;
  background-color: rgb(8, 227, 0);
  padding: 1px 15px 1px 15px;
  font-size: 23px;
  border: 2px solid rgb(16, 132, 12);
  border-radius: 5px;
}

.btnRemoveFromWatchlist:hover {
  background-color: rgb(217, 39, 8);
  color: #ecf0f1;
  border: 2px solid rgb(170, 30, 5);
  border-radius: 5px;
}

.onMyWatchlist {
  background-color: rgba(76, 0, 255, 0.755);
  color: #ecf0f1;
  padding: 3px 10px 3px 5px;
  font-size: x-large;
  border-radius: 5px;
}
