<div class="toolbar" role="banner">
  <a routerLink="/">
    <div class="MyMovieList-logo">
      <svg
        fill="#e63737"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="-21.82 -21.82 261.81 261.81"
        xml:space="preserve"
        width="50px"
        height="50px"
        stroke="#e63737"
        transform="matrix(1, 0, 0, 1, 0, 0)rotate(-45)"
        stroke-width="1.745336"
      >
        <g
          id="SVGRepo_bgCarrier"
          stroke-width="0"
          transform="translate(0,0), scale(1)"
        >
          <path
            transform="translate(-21.82, -21.82), scale(16.363125)"
            fill="#1a2529"
            d="M9.166.33a2.25 2.25 0 00-2.332 0l-5.25 3.182A2.25 2.25 0 00.5 5.436v5.128a2.25 2.25 0 001.084 1.924l5.25 3.182a2.25 2.25 0 002.332 0l5.25-3.182a2.25 2.25 0 001.084-1.924V5.436a2.25 2.25 0 00-1.084-1.924L9.166.33z"
            strokewidth="0"
          ></path>
        </g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#CCCCCC"
          stroke-width="0.436334"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <g>
              <g>
                <path
                  d="M196.35,0h-31.733c-2.192,0-3.967,1.776-3.967,3.967v3.967H57.517V3.967C57.517,1.776,55.742,0,53.55,0H21.817 c-2.192,0-3.967,1.776-3.967,3.967V214.2c0,2.19,1.774,3.967,3.967,3.967H53.55c2.192,0,3.967-1.776,3.967-3.967v-7.933H160.65 v7.933c0,2.19,1.774,3.967,3.967,3.967h31.733c2.192,0,3.967-1.776,3.967-3.967V3.967C200.317,1.776,198.542,0,196.35,0z M49.583,11.9v95.2v95.2v7.933h-23.8V7.933h23.8V11.9z M160.65,198.333H57.517v-87.267H160.65V198.333z M160.65,103.134H57.517 V15.867H160.65V103.134z M192.383,210.233h-23.8V202.3v-95.2V11.9V7.933h23.8V210.233z"
                ></path>
                <rect
                  x="176.517"
                  y="15.867"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="33.717"
                  y="15.867"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="176.517"
                  y="43.633"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="33.717"
                  y="43.633"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect x="176.517" y="71.4" width="7.933" height="19.833"></rect>
                <rect x="33.717" y="71.4" width="7.933" height="19.833"></rect>
                <rect
                  x="176.517"
                  y="99.167"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="33.717"
                  y="99.167"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="176.517"
                  y="126.933"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="33.717"
                  y="126.933"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="176.517"
                  y="154.7"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect x="33.717" y="154.7" width="7.933" height="19.833"></rect>
                <rect
                  x="176.517"
                  y="182.467"
                  width="7.933"
                  height="19.833"
                ></rect>
                <rect
                  x="33.717"
                  y="182.467"
                  width="7.933"
                  height="19.833"
                ></rect>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </a>
  <span>My Movie List</span>
  <div class="spacer"></div>
</div>
