/* movie-list.component.css */
:host {
  display: block;
  margin-top: 70px;
}

.sort-container {
  margin-bottom: 20px;
  margin-left: 1%;
  margin-top: 5%;
}

label {
  margin-right: 10px;
}

select,
button {
  padding: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 270px;
  height: 472px;
  margin: 0;
  padding: 0;
  border: 4px solid orange;
  border-radius: 4px;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
  cursor: pointer;
}

.card h3 {
  min-height: 2.5em;
  max-height: 2.5em;
  overflow: hidden;
  padding: 10px 0 10px 0;
  margin: 0;
  background-color: rgb(23, 7, 123, 0.956);
  color: white;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.rating-container {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: orange;
  clip-path: polygon(100% 0%, 0% 0%, 20% 100%, 100% 100%);
  padding: 2px 10px 2px 15px;
}

.rating {
  color: #eee;
  font-size: 20px;
}

.watchlist-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 38, 0, 0.755);
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%, 0% 100%);
  padding: 2px 5px 2px 5px;
}

.watchlist {
  color: #eee;
  font-size: 20px;
}

.btnAddToWatchlist {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 38, 0, 0.755);
  clip-path: polygon(60% 100%, 100% 0%, 0% 0%, 0% 100%);
  padding: 2px 17px 2px 9px;
  font-size: 20px;
  border: 0px;
}

.btnAddToWatchlist:hover {
  background-color: rgba(9, 255, 0, 0.755);
  color: #ecf0f1;
}

.btnRemoveFromWatchlist {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(9, 255, 0, 0.755);
  clip-path: polygon(60% 100%, 100% 0%, 0% 0%, 0% 100%);
  padding: 1px 20px 1px 9px;
  font-size: 23px;
  border: 0px;
}

.btnRemoveFromWatchlist:hover {
  background-color: rgba(255, 38, 0, 0.755);
  color: #ecf0f1;
}

.onMyWatchlist {
  background-color: rgba(76, 0, 255, 0.755);
  color: #ecf0f1;
  position: absolute;
  bottom: -15px;
  left: 27%;
  padding: 3px 10px 3px 5px;
  font-size: 15px;
  border: 0px;
}