<div class="sort-container">
  <label for="sort">Sort by:</label>
  <select id="sort" [(ngModel)]="selectedSortOption" (change)="sortMovies()">
    <option value="titleA">Title A-Z</option>
    <option value="titleZ">Title Z-A</option>
    <option value="releasedDateH">Released Date &#8593;</option>
    <option value="releasedDateL">Released Date &#8595;</option>
    <option value="durationH">Duration &#8593;</option>
    <option value="durationL">Duration &#8595;</option>
    <option value="ratingH">Rating &#8593;</option>
    <option value="ratingL">Rating &#8595;</option>
  </select>
</div>

<div class="card-container">
  <div *ngFor="let movie of sortedMovies" class="card" (click)="navigateToDetails(movie.id)">
    <h3>{{ movie.title }}</h3>
    <div class="rating-container">
      <span class="rating">{{ movie.rating }}</span>
    </div>
    <img
      [src]="movie.imageUrl"
      alt="{{ movie.title }} Poster"
      class="card-image"
      (error)="handleImageError($event)"
    />
      <button class="btnAddToWatchlist" 
        (click)="addToWatchlist(movie.title)"
        *ngIf="!isInWatchlist(movie.title)"
        title="Add To My Watchlist"
      >
        +
      </button>
      <button class="btnRemoveFromWatchlist"
        (click)="removeFromWatchlist(movie.title)"
        *ngIf="isInWatchlist(movie.title)"
        title="Remove From My Watchlist"
      >
        -
      </button>
      <p class="onMyWatchlist" *ngIf="isInWatchlist(movie.title)">On my watchlist</p>
  </div>
</div>
