body {
    background-color: rgb(54, 54, 54);  
    margin: 0;               
    padding: 0;             
    color: white;            
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
